/*:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
  background-color: #F5F5F5
  ;
}
.navegador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 110px;
  margin-left: 45px;
  margin-top: 25px;
}

.links>a{
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  font-family: "Oswald";
  padding: 30px;
  

}

.links{
  margin-left: 58%;
}

.letras{
  width: 773px;
  height: 500px;
  margin-top: 100px;
  
  margin-left: 10%;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-size: 25px  ;
  line-height: 79px;
  color: #282828  ;

  
}

.container{
  display: flex;
}

.container>.pajarito{
  position: absolute;
  z-index: -1;
  margin-left: 50%;
  top:25% !important; 
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
 
  
}
.btn{
  width: max-content; /*para que afecte a los dos */
  height: max-content;
  padding: 15px 25px;
  font-size: 20px;
  margin-left: 10%;
  
  

}
.primary{
  background: grey;
  border: none; 
  color: beige; 
  font-size: 25px ;
  border-radius: 20px;
  
}
.btn-border{
  background: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 25px;
}

.botones{
  margin-left: 9% ;
  margin-top: -2%; 
  
}

.lineaComponente>hr{
    height: 4px;
    width: 100%;
    background-color: black;
    margin-left: 0%;
  }

.lineaComponente{
  width: 1284px;
  margin-left: 9%;
  margin-top: 12%;
}

.subtitulo{
  font-family: "Oswald";
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
}
  

